//////colores/////

$primary: #5265E1;
$secondary: #FA5959;
$dark:  #0d0459; 

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

///FQAs////

$accordion-icon-color: $primary; 
$accordion-icon-active-color: $secondary;  
$accordion-button-active-bg: none; 
$accordion-button-focus-box-shadow: none; 

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.navbar-toggler{
    border: none; 
}

.bgHero {
    position: absolute; 
    z-index: -1;
    width: 70%;
    height: 78%;
    top: 25%;
    right: 0 ;
    border-bottom-left-radius: 150px;
}

.bgTabs{
    position: absolute;
    z-index: -1;
    width: 40%;
    height: 25%;
    top: 120%;
    left: 0%;
    border-bottom-right-radius: 150px; 
}

@media (max-width: 992px) {
    .bgHero {
    width: 75%;
    height: 60%;
    top: 130px; 
    }
    .bgTabs {
        width: 35%;
        height: 20%;
        top: 110%; 
    };
    }

@media (max-width: 768px) {
    .bgHero {
    width: 60%;
    height: 60%;
    top: 180px; 
    }
    .bgTabs {
        width: 50%;
        height: 20%;
        top: 152%; 
    };
    }



 @media (max-width: 576px) {
    .bgHero {
    width: 60%;
    height: 50%;
    top: 145px; 
    }
    .bgTabs {
        width: 70%;
        height: 35%;
        top: 160%; 
    };
    }


.img-hero{
    padding-right: 20px;
}

.imgTabs{
    position: relative; 
}

.nav-link:hover{
    color:$secondary !important
}

.nav-item-border-bottom{
    border-bottom: solid 2px #9697a2
}

.card {
    border: none; 
    width: 250px;  
}


.btn-secondary:hover{ 
    background-color: white; 
    border-color: #FA5959; 
    color: $secondary !important
}

.btn-primary:hover{ 
    background-color: white; 
    border-color: #5265E1; 
    color: $primary !important
}


.btn-light:hover{ 
    background-color: white;  
    border-color: #444649; 
    color: $dark; 
}


@media screen and (max-width: 756px) {
    .ms-5 {
        margin-left: 0 !important; 
    }
    .ps-5 {
        padding-left: 0 !important; 
    }
}

.footerButton {

    color: white; 
}


